@use "./variable.module.scss" as *; // @import 方法废弃，改用 @use

// css 变量，可供 uno css 使用
:root {
  --sidebar-width: #{$sidebarWidth};
  --navbar-height: #{$navbarHeight};
  --tags-View-height: #{$tagsViewHeight};
}
