.container {
  width: 1000px;
  height: 900px;
  border: 1px solid #ccc;
  margin: 0 auto;
  display: flex;
}

.container .board {
  width: 350px;
  height: 100%;
}

.board .panel {
  width: 100%;
  height: 300px;
  position: relative;
  background: url(./img/circle.png) no-repeat;
  background-position: center;
  background-size: 250px;
}

.panel .result {
  width: 120px;
  padding: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
}

.board .tip p {
  font-weight: 100%;
  text-align: center;
}

.dictionary {
  width: 650px;
  display: grid;
  grid-template: repeat(20, 45px) / repeat(5, 132px);
  grid-auto-flow: column;
  font-weight: 100;
}

.dictionary .number {
  display: inline-block;
  width: 36px;
  text-align: right;
  margin-right: 10px;
}

.dictionary .img img {
  height: 36px;
  vertical-align: -10px;
}
